# Ignore build artifacts
build/
venv/

#Ignore environment-specific files
.env
.env.local
.env.*.local

#Ignore log files
*.log

#Ignore editor-specific files
.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
